

body {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', Arial, sans-serif;
}
  
.container {
  width: 940px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.active {
    color: #f06c64 !important;
  }
  
.header {
    scroll-margin-top: 2720px;
    position: sticky;
    top: 0;
    height: 96px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
    z-index: 1001;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-wrapper h1 {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
}

.header-wrapper h1 span {
    color: #f06c64;
}

.header-insert ul li {
    position: relative;
    display: inline-block;
    list-style-type: none;
}

.header-insert ul li:not(:last-child) a::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    top: 55%;
    right: -4px;
    background-color: #494e62;
}

.header-insert li a {
    display: block;
    padding-top: 49px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-insert li a:hover {
    color: #f06c64;
}

.header-insert li:not(:last-child) a {
    padding-left: 12px;
    padding-right: 13px;
}

.header-insert li:last-child a {
    padding-left: 12px;
}

  .slider {
    position: relative;
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
}

.left {
    background: url(assets/img/left.png) center no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 278px;
    left: 34px;
    z-index: 5;
}

.right {
    cursor: pointer;
}

.left {
    cursor: pointer;
}

.right {
    background: url(assets/img/right.png) center no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 278px;
    right: 34px;
    z-index: 5;
}

.slider-phone {
    opacity: 0;
}

.active-slider {
    opacity:1;
    transition: all .9s 
}

.turn-off-first {
    display: none;
    position: absolute;
    top: 113px;
    left: 123px;
    z-index: 1000;

}

.turn-off-second {
    display: none;
    position: absolute;
    top: 183px;
    right: 198px;
    z-index: 1000;
}

.turn-on {
    display: block;
}

.slider-phone.first img:nth-child(1) {
    position: absolute;
    top: 52px;
    left: 112px;
    border-radius: 24px;
    z-index: 1; 
}

.slider-phone.first img:nth-child(3) {
    position: absolute;
    top: 173px;
    right: 137px;
    border-radius: 24px;
    z-index: 1;
}

.slider-phone.first img:nth-child(2) {
    position: absolute;
    top: 52px;
    left: 112px;
}

.slider-phone.first img:nth-child(4) {
    position: absolute;
    top: 174px;
    right: 112px;
}

  .services {
    background-color: #f2f2f2;
    padding-bottom: 29px;
    margin-bottom: 6px;
  }

  .services .container {
    padding-top: 65px;
  }

  .services h2 {
    font-size: 30px;
    color: #666d89;
  }

  .services-description {
    color: #666d89;
    font-size: 18px;
    font-family: LatoThin, sans-serif;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 46px;
  }
  
  .services .flex {
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .services-element {
    display: flex;
    align-items: flex-start;
    max-width: 32%;
    color: #666d89;
    margin-bottom: 30px;
  }

  .services-element img {
    width: 20%;
    margin: 1px;
  }

  .services-element_text {
    margin-left: 19px;
    margin-top: -3px;
    overflow: hidden;
  }

  .services-element_text h3 {
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 8px;
  }

  .services-element_text p {
    color: #767e9e;
    font-family: LatoRegular,sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    max-height: 136px;
    overflow: hidden;
  }
  
  @font-face { 
    font-family: 'LatoBlack'; 
    src: url('./assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoBold'; 
    src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoLight'; 
    src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoRegular'; 
    src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
  @font-face { 
    font-family: 'LatoThin'; 
    src: url('./assets/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }

.wrapper {
    width: 940px;
    margin: 0 auto;;
}

.portfolio__wrapper {
    padding-top: 44px;
}

.portfolio {
    background-color: #2d303a;
}

.portfolio__description {
    padding-top: 2px;
}

.portfolio h2 {
    font-size: 30px;
    font-family: "Lato", "Verdana", sans-serif;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    text-align: left;
    padding-top: 23px;
}

.about-us h2 {
    font-size: 30px;
    font-family: "Lato", "Verdana", sans-serif;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    text-align: left;
    padding-top: 25px;
}

.description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 300;
    text-align: left;
    margin-top: 25px;
}

.portfolio__tags {
    padding-top: 13px;
    padding-bottom: 4px;
}

.portfolio__first-span {
    padding-right: 2px;
}

.portfolio__second-span, .portfolio__fourth-span {
    padding-left: 1px;
}

.tag {
    text-decoration: none;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 1px;
    margin-right: 9px;
    padding: 3px 3px 2px 6px;
    cursor: pointer;
}

.tag:hover {
    font-size: 14px;
    color: #ffffff;
}

.tag_selected {
    border-radius: 5px;
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.tag_not-selected {
    border-radius: 5px;
    border: 1px solid #666d89;
}

.portfolio__works {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px 0 66px 0;
    overflow: hidden;
}

.portfolio__works img {
    width: 220px;
    height: 187px;
    display: block;
    padding-bottom: 20px;
}

.portfolio__bottom {
    height: 7px;
    background-color: #323746;
}

.portfolio h3 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin: 0;
}

.img-border {
  outline: 5px solid #F06C64; 
  outline-offset: -5px;
}

.about-us {
    background-color: #f2f2f2;
}

.about-us__wrapper {
    padding-top: 43px;
    padding-bottom: 45px;
}

.about-us__description {
    padding-bottom: 45px;
    padding-top: 2px;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
}

.employee {
    text-align: left;
}

.employee>img {
    width: 300px;
    height: 300px;
    padding-right: 20px;
    padding-bottom: 11px;
}

.employee__about {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    padding-top: 8px;
    margin: 0;
}

.about-us__contacts {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 155px;
    padding: 5px 0 0 0px;
}

.about-us__contacts li {
    list-style-type: none;
    margin-top: 17px;
}

.about-us__contacts img {
    width: 34px;
    height: 35px;
    cursor: pointer;
    
}

.about-us__contacts img:hover {
    transform: scale(1.2);
}

.about-us__bottom {
    height: 6px;
    background-color: #ffffff;
}

.wrappera {
    width: 1020px;
    margin: 0 auto;
}

.get_a_quote {
    height: 573px;
    padding: 75px 40px 40px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
}

.get_a_quote h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.035px;
}

.get_a_quote p {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.7;
    word-spacing: -1.5px;
    padding-top: 10px;
}

form {
    font-family: Lato, sans-serif;
    display: inline-block;
    width: 615px;
    margin-right: 20px;
    margin-top: 0px;
}

.hidden {
  display: none;
}

form input,
form textarea{
    width: 602px;
    border-style: none;
    background-color: #d6564f;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
}

form input{
    height: 37px;
    margin-bottom: -10px;
    padding-right: 2px;
}

form input::placeholder,
form textarea::placeholder{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e87878;
    
}
form textarea::placeholder{
    
    font-size: 12px;
    padding-top: 8px;
    letter-spacing: 0px;
}


form textarea{
  height: 200px;
  margin-top: -6px;
  padding-right: 2px;
}

#pop-up_form {
  position: absolute;
  width: 1020px;
  height: 700px;
  background-color: #00000050;
  left: 165px; 
  top: 3040px;
   
}

#message {
  position: absolute;
  top: 300px;
  left: 200px;
  padding-top: 40px;
  width: 600px;
  height: 200px;
  background-color: rgb(80, 78, 78);
  color: #fff;
  border-radius: 4px;
}

#close-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(49, 48, 48);
  color: #fff;
}

#message p {
  text-align: center;
  font-size: 24px;
}

.contact {
    display: inline-block;
    width: 300px;
    margin-top: 26px;
    vertical-align: top;
}

.contact .topic {
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 900;
}

.contact p {
    margin-top: 9px;
    margin-bottom: 29px;
    height: 83.2px;
    font-weight: 400;
    overflow: hidden;
    text-align: justify;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.1px;
}
.cont {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5.5px;
}

.cont a{
    text-decoration: none;
    color: inherit;
}

.cont a:hover{
    text-decoration: underline #f0d8d9;
}

.cont div{
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 7px;
    text-align: center;
}

.button {
    height: 40px;
    border-radius: 7px;
    background-color: #d6564f;
    color: #ec7e7e;
    border: none;
    width: 30%;
    font-size: 12px;
    cursor: pointer;
}

footer {
    display: flex;
    height: 76px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2d303a;
}

.copyright{
    width: 200px;
    margin-left: 2px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #666d89;
}

.social_networks {
    
    width: 800px;
    margin-right: 0;
    margin-top: 22px;
    text-align: right;
}

.social_networks a {
    margin-right: 4px;
}
.social_networks a:last-child{
    margin-right:0;
}

.social_networks img:hover {
    transform: scale(1.2);
}